    
    
    
    <div class="jumbotron center">
        <h1>Welcome to my Pinterested App!</h1>
        
            <p>This is my first Ruby on Rails Website</p>
            <%= link_to "Login", root_path, class: 'btn btn-default' %>
            <%= link_to "Join", root_path, class: 'btn btn-primary' %>
         
    </div>